<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1> Multiply </h1>
    <form action="/multiply" method="post">
        <label for="a">A:</label>
        <input type="text" id="a" name="a" value=<%= a %>><br><br>
        <label for="b">B:</label>
        <input type="text" id="b" name="b" value=<%= b %>><br><br>
        <input type="submit" value="Multiply">
    </form>
    <h2>Result: <%= result %></h2>
  </body>
</html>